/* Table of contents
---------------------------------------------------------------------- /
*
*  1 - Import Google Font
*  2 - Global Style
*    2.1 - Next Section
*    2.2 - Social Button
*    2.3 - Placeholder color
*    2.4 - Height Resize
*    2.5 - Center-Page
*    2.6 - Focus
*    2.7 - Center-Block
*  3 - Welcome Page
*  4 - Main Menu 
*  5 - Page Top Section
*  6 - About Us Section
*  7 - Subscribe Section
*  8 - Contact Section
*  9 - Footer Section  
*  10 - Media Query 
*    10.1 - media screen and (max-width: 992px)
*    10.2 - media screen and (max-width: 768px)
*    10.3 - media screen and (max-width: 1170px) 
*  11 - Preloader
*  
---------------------------------------------------------------------- */




/* 1 - Import Google Font
---------------------------------------------------------------------- */
@import url('http://fonts.googleapis.com/css?family=PT+Sans+Narrow');

@font-face {
  font-family: 'PT Sans Narrow';
  src: url('http://fonts.googleapis.com/css?family=PT+Sans+Narrow');
  unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

@font-face {
  font-family: 'kunlasatri';
  src: url('../fonts/kunlasatri.ttf');
  unicode-range: U+0E00-U+0E7F;
}
/* 1 - Import Google Font End 
---------------------------------------------------------------------- */

html,body {
  font-family: "PT Sans Narrow", "kunlasatri";
  padding: 0;
  margin: 0;
}

#main-gallery {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  transition: transform .5s ease;
}

#main-gallery .slide {
  display: table;
  width: 100%;
  height: 100%;
}

#main-gallery .slide.gallery#first {
  background-image: url("../../images/background/gallery.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#main-gallery .slide.gallery#second {
  background-image: url("../../images/background/welcome.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#main-gallery .slide .content {
  display: table-cell;
  padding: 0 8%;
  vertical-align: middle;
}

#main-gallery .slide .content h1 {
  padding: 0;
  margin: 0;
  display: block;
  text-align: center;
  color: white;
  font-size: 4vh;
  text-shadow: 0.3vh 0.3vh 0.3vh rgba(0, 0, 0, 0.4);
}